.view-customers {
    section {
        &.hero {
            .wrapper {
                width: 100%;
                height: 550px;
            }
        }

        &.customers {
            padding: 100px 0 50px;
            background: $white;
            text-align: left;

            .wrapper {
                max-width: 680px;
            }

            .customer-logo {
                margin: 0 auto 20px;
                display: block;
                max-width: 280px;
            }

            p {
                padding: 0 0 20px;
                color: $medium-grey;

                a {
                    color: $medium-blue;

                    &:hover {
                        color: $dark-blue;
                    }
                }
            }

            blockquote {
                color: $medium-grey;
                font-size: 20px;
                font-style: italic;
                line-height: 30px;
                padding: 20px 0 40px;
                margin: 0 -80px;
            }
        }
    }
}
