
.view-demo {

    $footer-height: 40%;

    main {
        position: absolute;
        top: 0;
        right: 0;
        bottom: $footer-height;
        left: 0;
    }

    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: $footer-height;
    }

    $progress-width: 1000px;
    $progress-height: 80px;

    .view-progress {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $progress-width;
        height: $progress-height;
        margin-top: -($progress-height/2);
        margin-left: -($progress-width/2);

        counter-reset: step;

        .step {
            float: left;
            width: 40px;
            height: 40px;
            display: block;
            border: 2px solid $medium-grey;
            border-radius: 100%;
            margin: ($progress-height/4);

            font-weight: 600;
            line-height: 36px;
            text-align: center;

            &:before {
                counter-increment: step;
                content: counters(step, '');
            }
        }

        section {
            width: ($progress-width/3);
            height: ($progress-height);
            float:left;
            border-top: 1px solid $default-grey;
            border-bottom: 1px solid $default-grey;

            color: $medium-grey;
            font-size: 14px;

            h3 {
                float: left;
                line-height: 80px;
            }
        }

        section:nth-child(2) {
            border-right: 1px solid $default-grey;
            border-left: 1px solid $default-grey;
        }
    }
}