
.view-demo-upload {

    $content-width: 1000px;
    $content-height: 360px;

    top: 50%;
    bottom: 0;
    left: 50%;
    width: $content-width;
    height: $content-height;
    margin-top: -($content-height/2.5);
    margin-left: -($content-width/2);

    section {
        position: absolute;
        text-align: center;

        a.btn + p {
            margin: 30px 0 0 0;
        }
    }

    .left { left: 40px; }

    .right { right: 40px; }

    .divider {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 200px;
        background: $default-grey;
        margin: -75px 0 0 50px; 
    }
}