
footer {
    position: relative;
    background: $navy;
    padding: 70px;
    text-align: center;
    overflow: hidden;

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
        color: #fff;
    }

    a { color: $white;}

    .copyright {
        float: left;
        color: $white;
        font-size: 10px;
        font-weight: $bold-weight-font;
        letter-spacing: $letter-spacing;
        text-indent: $letter-spacing;
        text-transform: uppercase;
        position: relative;
        top: -6px;
    }

    nav {
        float: right;

        ul {
            font-size: 0;

            li {
                display: inline-block;
                margin: 0 10px;

                color: $white;
                font-size: 10px;
                font-weight: $bold-weight-font;
                letter-spacing: $letter-spacing;
                text-indent: $letter-spacing;
                text-transform: uppercase;

                .nav-link {
                    @include transition(0.3s);
                    border-bottom: 2px solid transparent;
                    padding: 0 0 6px;

                    &:hover, .selected {
                        padding: 0 0 3px;
                        border-bottom: 2px solid $white;
                    }
                }

                .outline-btn {
                    padding: 0 0 6px;
                }
            }
        }
    }
}
