
.view-footer {
    position: relative;
    background: $navy;
    text-align: center;

    .request-demo {
        border-radius: 3px;
        @include box-sizing(border-box);
        font-weight: $bold-weight-font;
        letter-spacing: $letter-spacing;
        text-indent: $letter-spacing;
        text-transform: uppercase;
        color: $white;
        padding: 12px 24px;
        clear: both;
        background: $yellow;
        border: none;
        color: $white;
        font-size: 20px;
        position: relative;
        top: -10px;
        @include transition(0.3s);
    }

    .wrapper {
        overflow: hidden;
        position: relative;
        padding-top: 60px;
    }

    .logo {
        position: absolute;
        left: 0px;
        color: $white;

        a {
            display: inline-block;
            margin-top: -3px;
            height: 100%;
        }
    }


    ul {
        color: $white;
        margin-bottom: 40px;

        li {
            display: inline-block;
            font-size: 11px;
            font-weight: $bold-weight-font;
            letter-spacing: $letter-spacing;
            text-transform: uppercase;
            line-height: 24px;
        }

        a {
            vertical-align: top;
            @include transition(0.3s);
            border-bottom: 2px solid transparent;
            padding: 0 0 6px;

            color: inherit;

            &:hover {
                padding: 0 0 3px;
                border-bottom: 2px solid $white;
            }
        }

    }

    .footer-company-links {
        position: absolute;
        left: 50%;
        width: $nav-width;
        margin-left: -($nav-width/2);

        li {
            margin: 0 20px;
        }
    }

    .footer-social-links {
        position: absolute;
        right: -5px;

        li {
            margin: 0 5px;
        }

        .social-icon:before {
                line-height: 24px;
        }

        a:hover {
            padding: 0 0 6px;
            border-bottom: 2px solid transparent;
        }
    }

    .footer-copyright {
        clear: both;
        margin-top: 80px;

        li {
            margin: 0;

            &:after {
                content: ' • ';
                color: $dark-grey;
            }

            &:last-child:after {
                content: '';
                margin-left: 0;
            }
        }
    }

    .social-icon {
        font-size: 20px;
    }
}
