.view-generic,
.generic-content {
    background: $white;

    .wrapper {
        max-width: 680px;
        padding: 70px 30px;
        text-align: left;
    }

    h1,
    h2 {
        padding: 20px 0 0;
        color: $navy;
    }

    p {
        padding: 0 0 20px;
        color: $medium-grey;

        a {
            color: $medium-blue;

            &:hover {
                color: $dark-blue;
            }
        }
    }
}

.view-generic {
    position: relative;
    top: 120px;
    padding: 50px 0 220px;

    ul {
        margin: 20px 0 0 40px;
    }

    li {
        color: $dark-grey;
        font-weight: $regular-weight-font;
        line-height: 24px;
        padding: 0 0 20px;
        list-style: disc;
    }
}
