
$nav-width: $wrapper-width;


body.demo-flow .view-header {
    background: $white;
    a { color: $medium-grey !important; }
}


.view-header {

    .contact-us {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(36, 42, 51, 0.98);

        .wrapper {

             .contact-us-content {
                position: fixed;
                top: 50%;
                left: 0;
                width: 100%;
                margin: -100px 0 0 0;

                text-align: center;

                h3 {
                    margin: 0 0 30px;

                    color: $white;
                    font-size: 13px;
                }

                a {
                    @include transition(0.3s);
                    color: $white;
                    font-size: 60px;
                    font-weight: $bolder-weight-font;

                    &:hover {
                        cursor: pointer;
                        color: $yellow;
                    }
                }
            }
        }
    }


    nav {
        position: absolute;
        left: 50%;
        width: $nav-width;
        margin-left: -($nav-width/2);
        color: $white;
        @include transition(0.3s);

        &.nav-black {
            color: $navy;
        }

        .logo {
            line-height: $header-height + 10px;
        }

        .nav-trigger { display: none; }

        ul {
            position: absolute;
            top: -3px;
            display: inline-block;

            font-size: 0;

            li {
                margin: 0 20px;
                display: inline-block;
                font-size: 11px;
                font-weight: $bold-weight-font;
                letter-spacing: $letter-spacing;
                line-height: $header-height;
                text-indent: $letter-spacing;
                text-transform: uppercase;

                a {
                    @include transition(0.3s);
                    border-bottom: 2px solid transparent;
                    padding: 0 0 6px;

                    color: inherit;

                    &:hover, .selected {
                        padding: 0 0 3px;
                        border-bottom: 2px solid $white;
                    }
                }
            }

            &.main {
                left: 50%;
                margin-left: -(358px/2);
            }

            &.account {
                right: 0;

                li:last-child {
                    margin: 0 0 0 -2px;

                    a { border: 1px solid $white; }
                }
            }
        }
    }
}