
.view-home {
    section {
        position: relative;
        width: 100%;

        &.hero {
            height: 600px;
            background: #8fc9e0;

            .wrapper {
                .hero-content {
                    position: absolute;
                    top: 222px;

                    h1, p, a { color: $white; }
                }

                img {
                    position: absolute;
                    top: 198px;
                    left: 50%;
                }
            }
        }

        &.key {
            height: 280px;

            .wrapper {
                font-size: 0;

                .key-content {
                    width: 304px;
                    margin: 70px 22px;
                    display: inline-block;
                    vertical-align: top;

                    font-size: 14px;

                    &:first-child { margin-left: 0; }
                    &:last-child { margin-right: 0; }
                }
            }
        }

        &.feature {
            height: 500px;
            background: #f7f7f7;

            .wrapper {
                .hero-content {
                    position: absolute;
                    top: 140px;

                    color: $medium-grey;

                    a { border: 1px solid $medium-grey; }
                }
            }
        }

        &.right {
            background: $white;

            .wrapper {
                .hero-content { right: 0; }
            }
        }
    }
}