
.view-home {
    section {
        position: relative;
        width: 100%;

        &.hero {
            height: 600px;
            background: #8fc9e0;

            .wrapper {
                .hero-content {
                    position: absolute;
                    top: 222px;

                    h1, p, a { color: $white; }
                }

                img {
                    position: absolute;
                    top: 198px;
                    left: 50%;
                }
            }
        }

        &.key {
            height: 280px;

            .wrapper {
                font-size: 0;

                .key-content {
                    width: 300px;
                    margin: 70px 15px;
                    display: inline-block;
                    vertical-align: top;

                    font-size: 14px;

                    &:first-child { margin-left: 0; }
                    &:last-child { margin-right: 0; }
                }
            }
        }

        &.feature {
            height: 500px;
            background: #f7f7f7;

            .wrapper {
                .hero-content {
                    position: absolute;
                    top: 135px;

                    color: $medium-grey;

                    a { border: 1px solid $medium-grey; }
                }
            }
        }

        &.right {
            background: $white;

            .wrapper {
                .hero-content { right: 0; }
            }
        }

        &.how {
            height: 500px;
            background: #f7f7f7;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;

            .wrapper {
                .hero-content {
                    position: absolute;
                    top: 95px;
                }

                img {
                    position: absolute;
                    left: 50%;
                    top: 95px;
                }
            }
        }

        &.gym-badges {
            height: 200px;

            .wrapper {
                ul {
                    font-size: 0;
                    text-align: center;

                    li {
                        display:inline-block;
                        margin: 0 20px;
                    }
                }
            }
        }
    }

    footer {
        position: relative;
        height: 340px;
        background: $navy;

        text-align: center;

        .wrapper {
            article {
                position: relative;
                top: 100px;

                color: $white;

                h1, a { color: $white;}
            }

            nav {
                position: absolute;
                bottom: 40px;
                width: 100%;

                ul {
                    font-size: 0;

                    li {
                        display: inline-block;
                        margin: 0 12px;

                        color: $white;
                        font-size: 10px;
                        font-weight: 600;
                        letter-spacing: $letter-spacing;
                        text-indent: $letter-spacing;
                        text-transform: uppercase;
                    }
                }
            }

        }
    }
}