.animation-fade {

    &.ng-enter, &.ng-leave {
        @include transition(all .33s cubic-bezier(0.694, 0.0482, 0.335, 1));
    }

    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: 1;
        }
    }

    &.ng-leave {
        opacity: 1;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}


.animation-slide {
    &.ng-enter, &.ng-leave {
        @include transition(all 2s);
    }

    &.ng-enter {
        @include transform(translate3d(0,-100%,0));
        &.ng-enter-active {
            @include transform(translate3d(0,0,0));
        }
    }

    &.ng-leave {
        @include transform(translate3d(0,0,0));
        &.ng-leave-active {
            @include transform(translate3d(0,100%,0));
        }
    }
}
