
html, body {
    height: 100%;
    overflow: hidden;
}


$header-height: 50px;
$footer-height: 75px;
$slide-transition-speed: 0.7s;


body > *, body > main > * {
    position: absolute;
    left: 0;
    right: 0;
}

body > * {
    @include transition(top $slide-transition-speed);
}


body > main {
    top: 0;
    height: 100%;
}


body.demo-flow > main {
    top: calc(100% - #{$header-height});
}


body > .offscreen {
    background: #f5f2f0;
    top: 0;
    z-index: 0;
    bottom: $header-height;
}


body > main {
    background: #eee;

    & > header {
        top: 0;
        height: $header-height;
    }

    & > .content {
        top: $header-height;
        bottom: $footer-height;
    }

    & > footer {
        height: $footer-height;
        bottom: 0;
    }
}


.view {
    position: absolute;
    width: 100%;
    height: 100%;
}
