
$header-height: 120px;
$slide-transition-speed: 0.7s;


html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background: $off-white;
}


body.demo-flow > .onscreen {
    top: calc(100% - #{$header-height});
    & > main.animation-fade {
        // Fix this later Nick
        // @include transition-delay($slide-transition-speed);
    }
}


body > .offscreen {
    z-index: 0;
    top: 0;
    bottom: $header-height;
    background: $off-white;
}


body > .onscreen {
    position: relative;

    & > header, & > main {
    }

    & > header {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: $header-height;
    }

    & > main {}
}
