
$header-height: 120px;
$slide-transition-speed: 0.7s;


html, body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background: $off-white;
}


body.demo-flow {
    height: 100%;
}


body.demo-flow {
    & > .offscreen {
        z-index: 2;
    }
    & > .onscreen {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 120px;
        margin-top: -120px;
        z-index: 998;
    }
}


body > .offscreen {
    z-index: 0;
    top: 0;
    bottom: $header-height;
    background: $off-white;
    position: absolute;
    left: 0;
    right: 0;
}


body > .onscreen {
    position: relative;

    & > header, & > main {
    }

    & > header {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: $header-height;
    }

    & > main {}
}
