.view-home {

    section {
        position: relative;
        width: 100%;

        &.hero {
            height: 600px;
            background: #8fc9e0;

            .wrapper {
                .hero-points {
                    position: absolute;
                    top: 222px;

                    color: $white;

                    a { color: $white; }
                }

                img {
                    position: absolute;
                    top: 198px;
                    left: 50%;

                }
            }
        }

        &.key {
            .wrapper {
                font-size: 0;

                .key-points {
                    width: 304px;
                    margin: 100px 22px;
                    display: inline-block;
                    vertical-align: top;

                    font-size: 14px;

                    &:first-child { margin-left: 0; }
                    &:last-child { margin-right: 0; }
                }
            }
        }

        &.feature {
            height: 500px;
        }
    }
}