$tablet-land: 1023px;
$tablet-port: 767px;
$mobile-land: 579px;
$mobile-port: 321px;


@media only screen and (max-width : $tablet-land ) {

    .wrapper {
        width: 100%;
        padding: 0 60px;
    }

    section.hero {
        height: 550px;
        overflow: hidden;

        .hero-img-contain {
            position: absolute;
            height: 550px;
            z-index: 0;
            overflow: hidden;
            width: 100%;

            img {
                position: relative;
                height: 650px;
                width: auto;
                min-width: 100%;
            }
        }

        .wrapper {
            .hero-content {
                p {
                    margin: 0 0 50px;
                    width: 250px;
                }

                a.signup-btn { display: inline-block; }
                a.demo-btn { display: none; }
            }

            img {
                position: relative;
                top: 60px;
                left: 55%;
            }
        }
    }

    .view-header {
        nav {
            left: 0;
            margin: 0;
            padding: 0 60px;
            width: 100%;

            ul.main {
                left: 180px;
                margin: 0;

                li { margin: 0 10px; }
            }

            ul.account { right: 60px; }
        }
    }

    .view-home {
        section {
            &.hero.home {
                height: 700px;

                .hero-img-contain {
                    position: absolute;
                    height: 700px;
                    z-index: 0;
                    overflow: hidden;
                    width: 100%;

                    img {
                        position: relative;
                        height: 700px;
                        width: auto;
                    }
                }
            }

            &.hero {
                height: 550px;
                overflow: hidden;

                .wrapper {
                    .hero-content {

                        p {
                            margin: 0 0 50px;
                            width: 250px;
                        }

                        a.signup-btn { display: inline-block; }
                        a.demo-btn { display: none; }
                    }

                    img {
                        position: relative;
                        top: 60px;
                        left: 55%;
                    }
                }
            }

            &.hero .wrapper .hero-content p { max-width: 300px; }

            &.key .wrapper .key-content {
                width: 30%;
                margin: 70px 2.5%;
            }

            &.feature {
                .wrapper {
                    .hero-content { margin: 65px 0 95px; }

                    .filters, .paper {
                        right: 0;
                        left: 450px;
                        max-height: 350px;
                        width: auto;
                    }

                    .how-it-works {
                        top: 170px;
                        width: 40%;
                        right: 52px;
                    }
                }
            }

            &.feature.how {
                .wrapper {
                    .hero-content {
                        li:last-child { margin: 20px 30px 0 0; }
                    }
                }
            }

            &.testimonials .wrapper {
                ul.bragging-rights { width: 80%; }

                ul.people {
                    li {
                        margin: 20px;
                        text-align: left;

                        img {
                            width: 50px;
                            display: inline-block;
                            margin: 0 15px 0 0;
                            vertical-align: top;
                        }

                        div {
                            display: inline-block;
                            vertical-align: top;
                            width: 170px;
                        }
                    }
                }
            }

            &.gym-badges .wrapper {
                ul {
                    font-size: 0;

                    li {
                        width: 25%;
                        margin: 0;

                        img { width: 100%; }
                    }
                }
            }
        }
    }

    .view-about {
        section {
            &.the-team {
                .wrapper {
                    padding: 70px 30px;
                }
            }
        }
    }

    .view-features {
        section {
            &.features {
                padding: 50px 0;

                .wrapper section {
                    .shrink-wrap {
                        width: 100%;

                        ul li.line { width: 420px; }

                    }

                    &.revenue, &.customers, &.items {
                        .shrink-wrap { background-size: 40%; }
                    }

                    &.merchandising .shrink-wrap {
                        background: url(../images/merchandising.svg) no-repeat 0 70%;
                        background-size: 40%;
                    }

                    &.custom {
                        .shrink-wrap { background-size: 20%; }
                    }

                }
            }

        }
    }
}

// Tablet 767
@media only screen and (max-width : $tablet-port ) {

    .wrapper {
        width: 100%;
        padding: 30px 0;
    }

    // Form

    .view-demo-signup {
        .signup-form {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0;

            label { width: 100%; }

            a.solid-btn {
                width: 100%;
                border-radius: 0 0 3px 3px;
            }
        }
    }

    // Home
    .view-home {
        section {
            &.hero {
                height: 450px;
                overflow: hidden;

                .laptop {
                    top: 570px;
                    left: 50%;
                    width: 100%;
                    display: none;
                    margin-left: -50%;

                    
                    &.mobile { display: block; }
                }

                .wrapper {
                    .hero-content {
                        top: 250px;

                        p {
                            width: 350px;
                            max-width: 500px;
                        }

                        a {
                            span.signup-btn { display: none; }
                            span.demo-btn { display: inline-block; }
                        }
                    }
                }
            }

            &.key .wrapper {
                .key-content {
                    margin: 15px 30px 30px 0;
                    width: 100%;
                    text-align: center;
                    
                    p {
                        margin: 0 auto;
                    }
                }
            }

            &.feature .wrapper {
                padding: 30px 60px 0 60px;
                overflow: hidden;

                .hero-content {
                    margin: 40px 0 80px;

                    p {
                        width: 100%;
                        margin: 0 0 50px;
                        max-width: 300px;
                    }
                }

                .filters, .paper {
                    left: 400px;
                    max-height: 280px;
                }
            }

            &.right {
                background: $white;

                .wrapper {
                    text-align: left;

                    .hero-content { text-align: left; }
                }
            }

            &.how.feature .wrapper {
                padding: 30px 60px;

                .hero-content {
                    margin: 30px 0 60px 0;
                    text-align: center;

                    li {
                        margin: 20px 0 40px 40px;
                        display: inline-block;
                        vertical-align: top;
                        width: 300px;

                        .step { margin: 5px 0 0 0; }

                        p {
                            width: 100%;
                            margin: 0 0 0 60px;
                            padding: 0 50px 0 0;
                            
                            text-align: left;
                        }

                        a { margin: 8px 0 0 0; }
                    }

                    .how-it-works { display: none; }
                }

                img {
                    margin: 0 0 40px 0;
                    position: relative;
                    display: block;
                    width: 100%;
                    top: 0;
                    right: 0;
                }
            }

            &.testimonials {
                padding: 0;

                .wrapper {
                    ul.bragging-rights {
                        width: 100%;
                        margin: 30px auto;
                    }
                }
            }

            &.gym-badges { display: none; }
        }
    }


    // Header
    .view-header {
        nav {
            left: 60px;
            margin: 0;
            width: 100%;

            .logo {
                position: absolute;
                left: 0px;

                a {
                    height: 100%;
                }
            }

            .hamburger {
                display: block;
                right: 120px;
            }

            ul {
                width: 100%;
                height: 100%;
                padding: 50px 0;
                @include transition(0.3s);


                &.main {
                    position: fixed;
                    background: rgba(36, 42, 51, 0.98);
                    top: 0;
                    left: 0;
                    margin: 0;
                    color: $medium-grey;
                    display: none;

                    li {
                        line-height: 0;
                        display: block;
                        line-height: 30px;
                        text-align: center;
                        font-size: 30px;
                        line-height: 80px;
                        letter-spacing: 3px;
                        font-weight: 400;
                    }

                    &.active { display: block; }
                }

                &.account { display: none; }
            }
        }
    }

    .view-about {
        section {
            .two-col {
                width: 100%;
                margin: 0 0 50px 0;
            }

            &.hero, &.social {
                .wrapper { padding: 0 50px; }
            }

            &.the-team {
                .wrapper {
                    padding: 70px 30px;

                    .team-head:nth-child(even) {
                        width: 28%;
                        margin: 0 19% 30px 1%;
                    }

                    .team-head:nth-child(odd) {
                        width: 28%;
                        margin: 0 1% 30px 19%;
                    }
                }
            }
        }
    }

    .view-features {
        section {
            &.hero {
                .wrapper { padding: 0 50px; }
            }

            &.features {
                padding: 0;

                .wrapper section {
                    text-align: center;

                    .shrink-wrap {
                        width: 100%;

                        ul {
                            width: 420px;
                            margin: 0 auto;
                            padding: 60px 0 40px;
                            text-align: left;

                            li.line { width: 60%; }
                        }

                        article {
                            width: 420px;
                            text-align: center;

                            h2, p {
                                max-width: 420px;
                                text-align: left;
                            }
                        }

                    }

                    &.revenue, &.customers, &.items, &.merchandising, &.custom {
                        .shrink-wrap { background: none; }
                    }
                }
            }
        }
    }

    footer {
        height: 270px;

        .wrapper {
            padding: 0;

            article {
                margin: 70px 0 80px 0;
                h1 { font-size: 28px; }
            }
        }
    }

}

// Mobile 579
@media only screen and (max-width : $mobile-land) {
    .wrapper {
        width: 100%;
        padding: 30px;

        .section-heading { padding: 0 0 40px 0; }
    }

    // Home
    .view-home {
        section {
            &.hero {
                .laptop {
                    top: 600px;
                }

                .wrapper {
                    .hero-content {
                        p {
                            width: 350px;
                            max-width: 75%;
                        }
                    }
                }
            }

            &.key .wrapper {
                .key-content {
                    margin: 15px 0 30px;
                    max-width: 300px;
                }
            }

            &.feature .wrapper {
                padding: 0 30px;

                .filters, .paper {
                    position: relative;
                    width: auto;
                    left: 0;
                    right: 4px;
                    max-height: 280px;
                }
            }

            &.how.feature .wrapper {
                padding: 30px 0;
                
                .hero-content {
                    ul {
                        li {
                            margin: 20px 0 40px 20px;
                        }
                    }
                }
            }
        }
    }

    // Header

    .view-header {
        nav {
            left: 30px;

            .hamburger {
                right: 60px;
            }
        }
    }

    .view-about {
        section {
            .two-col {
                width: 100%;
                margin: 0 0 80px 0;

                ul {
                    max-width: 320px;
                    margin: 0 auto;
                }
            }

            .two-col:last-child { margin: 0; }

            &.the-team .wrapper .team-head:nth-child(odd), &.the-team .wrapper .team-head:nth-child(even)  {
                width: 100%;
                max-width: 320px;
                margin: 0 0 30px 0;
                text-align: left;


                .team-head-label {
                    display: inline-block;
                    vertical-align: top;
                    margin: 9px 0 0 0;
                }

                img {
                    width: 60px;
                    margin: 0 15px 0 0;
                }
            }

            &.social .wrapper {
                padding: 0;

                ul {
                    margin: 30px 0;

                    li {
                        margin: 10px 5px;
                        width: 45px;
                        height: 45px;

                        a p:before { line-height: 43px; }
                    }
                }
            }
        }
    }

    .view-features {
        section {
            &.features {
                .wrapper section {
                    .shrink-wrap {
                        article {
                            width: 100%;
                        }

                        ul {
                            margin: 0;

                            li.line {
                                width: 50%;
                                display: block;
                                margin: 15px 0 0 0;
                                border-top: 1px solid $light-grey;
                                max-width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        height: 280px;

        .wrapper {
            nav {
                width: 300px;
                margin: 0 auto;

                ul {
                    li { margin: 0 10px 10px; }
                    li:nth-child(even) { display: none; }
                }
            }
        }
    }
}

// Mobile 321
@media only screen and (max-width : $mobile-port ) {
    .view-home {

        section {
            &.hero.home { height: 500px; }

            &.hero {
                .wrapper .hero-content p { width: 250px; }

                .laptop.mobile { display: none; }
            }
        }
    }

    .view-about {
        section {
            &.social {
                .wrapper {
                    padding: 0 30px;
                }
            }
        }
    }
}