$tablet-land: 1023px;
$tablet-port: 767px;
$mobile-land: 579px;
$mobile-port: 351px;


@media only screen and (max-width : $tablet-land ) {

    .wrapper {
        width: 100%;
        padding: 0 60px;
    }

    section.hero {
        height: 550px;
        overflow: hidden;

        .hero-img-contain {
            position: absolute;
            height: 550px;
            z-index: 0;
            overflow: hidden;
            width: 100%;

            img {
                position: relative;
                height: 650px;
                width: auto;
                min-width: 100%;
            }
        }

        .wrapper {
            .hero-content {
                p {
                    margin: 0 0 50px;
                    width: 250px;
                }

                a.signup-btn { display: inline-block; }
                a.demo-btn { display: none; }
            }

            img {
                position: relative;
                top: 60px;
                left: 55%;
            }
        }
    }

    .view-header {
        nav {
            left: 0;
            margin: 0;
            padding: 0 60px;
            width: 100%;

            ul.main {
                left: 180px;
                margin: 0;

                li { margin: 0 10px; }
            }

            ul.account { right: 60px; }
        }
    }

    .view-home {
        section {
            &.hero.home {
                height: 700px;

                .hero-img-contain {
                    position: absolute;
                    height: 700px;
                    z-index: 0;
                    overflow: hidden;
                    width: 100%;

                    img {
                        position: relative;
                        height: 700px;
                        width: auto;
                    }
                }
            }

            &.hero {
                height: 550px;
                overflow: hidden;

                .wrapper {
                    .hero-content {

                        p {
                            margin: 0 0 50px;
                            width: 250px;
                        }

                        a.signup-btn { display: inline-block; }
                        a.demo-btn { display: none; }
                    }

                    img {
                        position: relative;
                        top: 60px;
                        left: 55%;
                    }
                }
            }

            &.hero .wrapper .hero-content p { max-width: 300px; }

            &.key .wrapper .key-content {
                width: 30%;
                margin: 70px 2.5%;
            }

            &.feature {
                .wrapper {
                    .hero-content { margin: 65px 0 95px; }

                    .filters, .paper {
                        right: 0;
                        left: 450px;
                        max-height: 350px;
                        width: auto;
                    }

                    .how-it-works {
                        top: 170px;
                        width: 40%;
                        right: 52px;
                    }
                }
            }

            &.feature.how {
                .wrapper {
                    .hero-content {
                        li:last-child { margin: 20px 0 0 0; }
                    }
                }
            }

            &.testimonials .wrapper {
                ul.bragging-rights { width: 80%; }

                ul.people {
                    li {
                        margin: 20px;
                        text-align: left;

                        img {
                            width: 50px;
                            height: 50px;
                            display: inline-block;
                            margin: 0 15px 0 0;
                            vertical-align: top;
                        }

                        div {
                            display: inline-block;
                            vertical-align: top;
                            width: 170px;
                        }
                    }
                }
            }

            &.gym-badges .wrapper {
                padding-bottom: 60px;

                ul {
                    font-size: 0;

                    li {
                        img {
                            margin: 20px 70px;
                        }
                    }
                }
            }
        }
    }

    .view-about {
        section {
            &.the-team {
                .wrapper {
                    padding: 70px 30px;
                }
            }
        }
    }

    .view-generic {
        .wrapper {
            text-align: left;
            padding: 0 30px;
        }
    }

    .view-features {
        section {
            &.features {
                padding: 50px 0;

                .wrapper section {
                    .shrink-wrap {
                        width: 100%;

                        ul li {
                            &.line { width: 420px; }
                        }

                    }

                    &.revenue, &.customers, &.items {
                        .shrink-wrap { background-size: 40%; }
                    }

                    &.merchandising .shrink-wrap {
                        background: url(../images/merchandising.svg) no-repeat 0 70%;
                        background-size: 40%;
                    }

                    &.custom {
                        .shrink-wrap { background-size: 20%; }
                    }

                }
            }

        }
    }

    .view-footer {
        .logo {
            left: 60px;
        }
        .footer-company-links {
            li {
                margin: 0 10px;
            }
        }

        .footer-social-links {
            right: 58px;

            li {
                margin: 0 2px;
            }
        }
    }
}

// Tablet 767
@media only screen and (max-width : $tablet-port ) {

    .demo-flow {

        overflow: scroll;

        .offscreen {
            display: inline-block;
            height: 100%;
            width: 100%;
            z-index: 900;
        }

        .onscreen {
            display: inline-block !important;
            z-index: 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 120px;
            margin-bottom: -120px;
            height: 120px;
        }
    }

    .wrapper {
        width: 100%;
        padding: 30px 0;
    }

    // Form

    .view-demo-signup, .view-demo-thanks {
        .signup-form {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0;

            label { width: 100%; }

            button.solid-btn, a.solid-btn {
                width: 100%;
                border-radius: 0 0 3px 3px;
            }
        }
    }

    // Home
    .view-home {
        section {
            &.hero {
                height: 450px;
                overflow: hidden;

                .laptop {
                    top: 600px;
                    left: 50%;
                    width: 500px;
                    display: none;
                    margin-left: -250px;


                    &.mobile { display: block; }
                }

                .wrapper {
                    .hero-content {
                        top: 250px;
                        width: 100%;

                        text-align: center;

                        h1 { width: 100%; }

                        p {
                            margin: 0 auto 50px;
                            width: 350px;
                            max-width: 500px;
                        }

                        a {
                            span.signup-btn { display: none; }
                            span.demo-btn { display: inline-block; }
                        }
                    }
                }
            }

            &.key .wrapper {
                .key-content {
                    margin: 15px 30px 30px 0;
                    padding: 0 30px;
                    width: 100%;
                    text-align: center;

                    h2 { max-width: none; }
                    p { margin: 0 auto; }
                    p.icon {
                        display: block;
                        margin: 0 auto 10px auto;
                    }

                }
            }

            &.feature .wrapper {
                padding: 30px 60px 0 60px;
                overflow: hidden;

                .hero-content {
                    margin: 40px 0 80px;

                    p {
                        width: 100%;
                        margin: 0 0 50px;
                        max-width: 300px;
                    }
                }

                .filters, .paper {
                    left: 400px;
                    max-height: 280px;
                }
            }

            &.right {
                background: $white;

                .wrapper {
                    text-align: left;

                    .hero-content { text-align: left; }
                }
            }

            &.how.feature .wrapper {
                padding: 30px 60px;

                .hero-content {
                    margin: 30px 0 60px 0;
                    text-align: center;

                    li {
                        margin: 20px 80px 40px 0;
                        display: inline-block;
                        vertical-align: top;
                        width: 300px;

                        .step { margin: 5px 0 0 0; }

                        p {
                            max-width: 100%;
                            margin: 0 0 0 60px;

                            text-align: left;
                        }

                        a { margin: 8px 0 0 0; }
                    }

                    .how-it-works { display: none; }
                }

                img {
                    margin: 0 0 40px 0;
                    position: relative;
                    display: block;
                    width: 100%;
                    top: 0;
                    right: 0;
                }
            }

            &.testimonials {
                padding: 0;

                .wrapper {
                    ul.bragging-rights {
                        width: 100%;
                        margin: 30px auto;
                    }
                }
            }

            &.gym-badges { display: none; }
        }
    }


    // Header
    .view-header {
        .contact-us .wrapper .contact-us-content a { font-size: 45px; }

        nav {
            left: 60px;
            margin: 0;
            width: 100%;

            .logo {
                position: absolute;
                left: 0px;

                a {
                    height: 100%;
                }
            }

            .hamburger {
                display: block;
                right: 120px;
            }

            ul {
                width: 100%;
                height: 100%;
                padding: 50px 0;
                @include transition(0.3s);


                &.main {
                    position: fixed;
                    background: rgba(36, 42, 51, 0.98);
                    top: 0;
                    left: 0;
                    margin: 0;
                    color: $medium-grey;
                    display: none;

                    li {
                        line-height: 0;
                        display: block;
                        line-height: 30px;
                        text-align: center;
                        font-size: 25px;
                        line-height: 65px;
                        letter-spacing: 3px;
                        font-weight: 400;
                    }

                    &.active { display: block; }
                }

                &.account { display: none; }
            }
        }
    }

    .view-about {
        section {
            .two-col {
                width: 100%;
                margin: 0 0 50px 0;
            }

            &.hero, &.social {
                .wrapper { padding: 0 50px; }
            }

            &.the-team {
                .wrapper {
                    padding: 70px 30px;

                    .team-head:nth-child(even) {
                        width: 28%;
                        margin: 0 19% 30px 1%;
                    }

                    .team-head:nth-child(odd) {
                        width: 28%;
                        margin: 0 1% 30px 19%;
                    }
                }
            }
        }
    }

    .view-features {
        section {
            &.hero {
                .wrapper { padding: 0 50px; }
            }

            &.features {
                padding: 0;

                .wrapper {
                    padding: 0;

                    section {
                        text-align: center;

                        .shrink-wrap {
                            width: 100%;

                            ul {
                                width: 420px;
                                margin: 0 auto;
                                padding: 60px 0 40px;
                                text-align: left;

                                li {
                                    &.line { display: none; }

                                    p { display: inline-block; }

                                    h3 { line-height: 50px; }
                                }
                            }

                            article {
                                width: 420px;
                                text-align: center;

                                h2, p {
                                    // max-width: 420px;
                                    text-align: left;
                                }
                            }

                        }

                        &.revenue, &.customers, &.items, &.merchandising, &.custom {
                            .shrink-wrap { background: none; }
                        }
                    }
                }
            }
        }
    }

    .view-footer {
        .logo {
            display: none;
        }

        .footer-company-links {
            left: 60px;
            width: auto;
            margin-left: 0;

            li {
                margin: 0 5px;
            }
        }
    }
}

// Mobile 579
@media only screen and (max-width : $mobile-land) {

    .wrapper {
        width: 100%;
        padding: 30px 0;
        text-align: center;

        .section-heading { padding: 0 0 40px 0; }
    }

    .view-header {
        .contact-us .wrapper .contact-us-content a { font-size: 45px; }
    }

    // Home
    .view-home {
        section {
            &.hero.home {height: 600px; }

            &.hero {
                .laptop {
                    top: 600px;
                    left: 0;
                    margin-left: 0;
                    width: 100%;
                    padding: 0 5%;
                }

                .wrapper {
                    .hero-content {
                        p {
                            width: 350px;
                            max-width: 75%;
                        }
                    }
                }
            }

            &.key .wrapper {
                .key-content {
                    margin: 25px 0;

                    h2 { margin: 0 0 10px 0; }
                }
            }

            &.feature .wrapper {
                padding: 0 30px;

                .filters, .paper {
                    position: relative;
                    width: auto;
                    left: 0;
                    right: 4px;
                    max-height: 280px;
                }
            }

            &.how.feature .wrapper {
                padding: 30px 0;

                .hero-content {
                    width: 100%;

                    ul {
                        li {
                            margin: 20px 0 40px 0;
                            padding: 0 10%;
                            width: 80%;

                            p {
                                width: 80%;
                                max-width: 280px;
                            }
                        }
                    }
                }
            }

            &.testimonials .wrapper {
                .quote-wrapper {
                    position: relative;
                    height: 240px;
                    margin: 0 auto;
                }
                q {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
    }

    // Header

    .view-header {
        nav {
            left: 30px;

            .hamburger {
                right: 60px;
            }
        }
        .contact-us .wrapper .contact-us-content a { font-size: 25px; }
    }

    .view-about {
        section {
            .two-col {
                width: 100%;
                margin: 0 0 80px 0;

                ul {
                    max-width: 320px;
                    margin: 0 auto;
                }
            }

            .two-col:last-child { margin: 0; }

            &.the-team .wrapper .team-head:nth-child(odd), &.the-team .wrapper .team-head:nth-child(even)  {
                width: 100%;
                max-width: 320px;
                margin: 0 0 30px 0;
                text-align: left;


                .team-head-label {
                    display: inline-block;
                    vertical-align: top;
                    margin: 9px 0 0 0;
                }

                img {
                    width: 60px;
                    margin: 0 15px 0 0;
                }
            }

            &.social .wrapper {
                padding: 0;

                ul {
                    margin: 30px 0;

                    li {
                        margin: 10px 5px;
                        width: 45px;
                        height: 45px;

                        a p:before { line-height: 43px; }
                    }
                }
            }
        }
    }

    .view-features {
        section {
            &.features {
                .wrapper section {
                    .shrink-wrap {
                        padding: 0 30px;

                        article {
                            width: 100%;
                        }

                        ul {
                            margin: 0;

                            li.line {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .view-footer {
        .logo {
            display: none;
        }

        .footer-company-links {
            position: static;
            display: block;

            li {
                margin: 0 5px;
            }
        }

        .footer-social-links {
            position: static;
            display: block;
        }

        .footer-copyright {
            margin-top: 20px;
        }
    }
}

// Mobile 351
@media only screen and (max-width : $mobile-port ) {
    .view-home {
        section {
            &.hero {
                .laptop { top: 620px; }

                .wrapper {
                    .hero-content {
                        p { width: 250px; }
                    }
                }
            }

            &.how.feature {
                .wrapper {
                    .hero-content {
                        width: 100%;

                        ul {
                            li {
                                padding: 0;

                                p { width: 70%; }
                            }
                        }
                    }
                }
            }

            &.testimonials .wrapper {
                .quote-wrapper { width: 100%; }

                q { width: 100%; }
            }
        }
    }

    .view-about {
        section {
            &.social {
                .wrapper {
                    padding: 0 30px;
                }
            }
        }
    }

    .view-footer {
        .wrapper {
            padding: 40px 0 20px;
        }

        .footer-company-links {
            display: none;
        }

        .footer-social-links {
            margin-bottom: 20px;
        }

        .footer-copyright {
            text-align: center;

            li:first-child {
                display: block;

                &:after {
                    content: '';
                }
            }

            .copyright-text {
                clear: both;
            }
        }
    }
}
