
$black: #181c1e;


html {
    font-family: 'Open Sans';
    font-weight: 400;
    color: $black;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

a {
    &:hover {
        text-decoration: underline;
    }
}