
@import "compass/css3/font-face";


@include font-face(
    "swag",
    inline-font-files('swag/swag.eot',  eot,
                      'swag/swag.woff', woff,
                      'swag/swag.ttf',  truetype,
                      'swag/swag.svg',  svg)
);


[class^="customicon-"]:before,
[class*=" customicon-"]:before {
    font-family: "swag";
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.customicon-logo-42:before {
  content: "a";
}
.customicon-eye:before {
  content: "b";
}
.customicon-features-1:before {
  content: "c";
}
.customicon-features-2:before {
  content: "d";
}
.customicon-features-3:before {
  content: "e";
}
.customicon-features-4:before {
  content: "f";
}
.customicon-features-5:before {
  content: "g";
}
.customicon-home-point-1:before {
  content: "h";
}
.customicon-home-point-2:before {
  content: "i";
}
.customicon-home-point-3:before {
  content: "j";
}
