
$content-width: $wrapper-width;
$content-height: 360px;


.view-demo-upload {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $content-width;
    height: $content-height;
    margin-top: -($content-height/2.5);
    margin-left: -($content-width/2);

    section {
        position: absolute;
        text-align: center;

        &.left { left: 40px; }

        &.right { right: 40px; }
    }

    .divider {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 200px;
        background: $default-grey;
        margin: -75px 0 0 35px; 
    }
}