
include mixins/asset-mixins
include mixins/asset-mixins-angular


!!!
html(lang='en', ng-app="42.landing")

  head
    title 42

    //- angular.ui.router requirement
    //- base(href="/")

    block meta
      include includes/mobile-meta-tags
      meta(charset="utf-8")

    block css
      mixin css("default")

    block top-scripts
      mixin js-lib("jquery")
      mixin js-lib("angular")
      mixin js-lib("angular.animate")
      mixin js-lib("angular.ui")
      mixin js-lib("angular.ui.router")
      mixin js-lib("angular.sanitize")

      mixin app-core("app")
      mixin app-core("router")


  body(ng-controller="MainController", ng-class="{'demo-flow':isDemoFlow}")

    section.offscreen.animation-offscreen(ui-view='offscreen')

    section.onscreen
      header(ui-view="header")
      main.content(ui-view='')
      footer(ui-view="footer")


  block bottom-scripts

    mixin app-directive("signup")
    mixin app-directive("flippable")
    mixin app-directive("modal")

    mixin app-service("utils")

    mixin js-lib("lodash")
    mixin app-controller("main")

    mixin js-lib("particles")
