
include mixins/mixins-assets
include mixins/mixins-assets-angular
include mixins/mixins-typekit
include mixins/mixins-google-analytics


!!!
html(lang='en', ng-app="42.landing", ng-class="{'contactVisible':contactUs.isVisible}")

  head
    title 42 &ndash; Data Made Actionable

    <!--[if IE 8]>
    meta(http-equiv="X-UA-Compatible", content="IE=8")
    <![endif]-->

    block meta
      include includes/mobile-meta-tags
      meta(charset="utf-8")
      meta(name="keywords", content="42 big data analytics retailer POS revenue report technology brand customer")
      meta(name="description", content="42 turns raw point-of-sale data into actionable insights for brick-and-mortar businesses.")

    block css
      mixin css("default")

    block top-scripts
      mixin js-lib("jquery")
      mixin js-lib("angular")

      mixin typekit-sync("qzk2xqv")
      //- mixin google-analytics('42debut.com', 'UA-43248089-1')

    script
      var img = new Image();
      img.src = "/assets/images/bg.png";


  body(ng-controller="MainController", ng-class="{'demo-flow':isDemoFlow, 'home':isHome}")

    section.offscreen.animation-offscreen(ui-view='offscreen')

    section.onscreen
      header(ui-view="header")
      main.content(ui-view='')
      footer(ui-view="footer", ng-hide="isDemoFlow")


  block bottom-scripts
    mixin js-lib("lodash")

    mixin js-lib("angular.animate")
    mixin js-lib("angular.ui")
    mixin js-lib("angular.ui.router")
    mixin js-lib("angular.sanitize")
    mixin js-lib("angular.segmentio")

    mixin app-core("app")
    mixin app-core("router")

    mixin app-directive("signup")
    mixin app-directive("flippable")
    mixin app-directive("modal")
    mixin app-directive("testimonials")

    mixin app-service("utils")

    mixin app-controller("main")
