
include mixins/mixins-assets
include mixins/mixins-assets-angular
include mixins/mixins-typekit
include mixins/mixins-google-analytics


!!!
html(lang='en', ng-app="42.landing")

  head
    title 42 &mdash; Data Made Actionable

    <!--[if IE 8]>
    meta(http-equiv="X-UA-Compatible", content="IE=8")
    <![endif]-->

    block meta
      include includes/mobile-meta-tags
      meta(charset="utf-8")

    block css
      mixin css("default")

    block top-scripts
      mixin js-lib("jquery")
      mixin js-lib("angular")
      mixin js-lib("angular.animate")
      mixin js-lib("angular.ui")
      mixin js-lib("angular.ui.router")
      mixin js-lib("angular.sanitize")

      mixin app-core("app")
      mixin app-core("router")

      mixin typekit-sync("qzk2xqv")
      mixin google-analytics('42debut.com', 'UA-43248089-1')


  body(ng-controller="MainController", ng-class="{'demo-flow':isDemoFlow, 'home':isHome}")

    section.offscreen.animation-offscreen(ui-view='offscreen')

    section.onscreen
      header(ui-view="header")
      main.content(ui-view='')
      footer(ui-view="footer", ng-hide="isDemoFlow")


  block bottom-scripts
    mixin js-lib("lodash")

    mixin app-directive("signup")
    mixin app-directive("flippable")
    mixin app-directive("modal")
    mixin app-directive("testimonials")

    mixin app-service("utils")

    mixin app-controller("main")
