
article.view.view-demo-progress

    ul
        li
            a.single-line(ui-sref="root.demo.upload") Cancel
        li.current
        li


    section
        i.step
        p Create your account.


    section
        i.step
        p Try our demo or upload your data.


    section
        i.step
        p Welcome to 42!
