article.view.view-progress

    section
        i.step
        h3 Create your account.

    section
        i.step
        h3 Try our demo or upload your data.

    section
        i.step
        h3 Welcome to 42!