
article.view.view-demo-progress

    section
        i.step
        p Create your account.


    section
        i.step
        p Try our demo or upload your data.


    section
        i.step
        p Welcome to 42!
