
article.view.view-demo-signup

    section.signup-form-container

        .background-images
            img.image-mountains(src="/assets/images/mountains.svg")
            img.image-lines(src="/assets/images/lines.svg")

        form.signup-form(ng-controller="SignupController", ng-submit="submit()")

            label.border-right
                span First Name
                input(name="first_name", ng-model="request.firstName", type="text", placeholder='Johnny', required)

            label
                span Last Name
                input(name="last_name", ng-model="request.lastName", type="text", placeholder='Appleseed', required)

            label.full-width
                span Company
                input(name="company", ng-model="request.company", type="text", placeholder='Appleseed Inc.', required)

            label.full-width
                span Email Address
                input(name="email", ng-model="request.email", type="email", placeholder='you@mail.com', required)

            label.full-width
                span Phone Number (optional)
                input(name="tel", ng-model="request.phone", type="tel", placeholder='1 (123) 456-7890')

            a.solid-btn(ui-sref="root.demo.thanks")
                | Request Demo
