
article.view.view-demo-thanks.view-demo-signup

    section.signup-form-container
        .background-images
            img.image-mountains(src="/assets/images/mountains.svg")
            img.image-lines(src="/assets/images/lines.svg")

        .signup-form
            h1 Your request has been submitted!
            h3
                | We will contact shortly. Feel free to drop us a line
                | at <a href="mailto:team@42debut.com">team@42debut.com</a>.

