article.view.view-demo-upload-choice

    h1 Choose Your Connectivity.

    section
        h2 You Database
        img.image-lines(src="/assets/images/database.svg")
        p MySQL, PostgreSQL, or MS SQL database.

    section
        h2 Ecommerce Platform
        img.image-lines(src="/assets/images/platform.svg")
        p NetSuite, Magento, Shopify, or BigCommerce.

    section
        h2 Upload Log Files
        img.image-lines(src="/assets/images/files.svg")
        p Upload files now, and we'll take care of the rest.