
article.view.view-demo-upload-files

    section
        h1 Upload Your Files.
        p.hero Don’t worry about the format! Our support team will make sure your data integrates seamlessly with 42’s dashboard.
        a.solid-btn(ui-sref="root.demo.upload-sucess") Upload Files
        p.note
            | Check out the integration details
            |  <a ng-click="modal.show()" class="single-line">here</a>.


    modal(model="modal")

        h1 Integration Details

        ul
            li
                h3 Customer Data
                p Customer_ID, Any Other Fields
            
            li
                h3 Transation Data
                p Transaction_ID, Customer_ID, Timestamp

            li
                h3 Transaction Item Data
                p Transaction_ID, Cost, Any Other Item Fields

        a.solid-btn(ng-click="modal.hide()") Cool, Got it
