
article.view.view-demo-upload

    section.left
        h1 Upload Your Data.
        p.hero
            | Want something more personalized?
            br
            | Upload your own data and give our demo a go.

        a.btn(ui-sref="root.demo.upload-choice") Let's Get Started

        p
            | Please allow up to 3 to 5 business days
            br
            | for our support team to set up your files.

    .divider

    section.right
        h1 Try Our Demo!
        p.hero
            | We've compiled a generic database
            br
            | for you to try our demo.

        a.btn Let's Go