article.view.view-demo-upload-choice

    h1 Choose Your Connectivity.

    a(ui-sref="root.demo.upload-files")
        section.enabled
            .card
                .front.face
                    h2 Your Log Files
                    img.image-lines(src="/assets/images/files.svg")
                    p Upload your files, and we'll take care of the rest.

                .back.face
                    h2 Top Secret
                    p Nothing to see here.

    section.flippable
        .card
            .front.face
                h2 Ecommerce Platform
                img.image-lines(src="/assets/images/platform.svg")
                p NetSuite, Magento, Shopify, or BigCommerce.

            .back.face
                h2 This isn't ready yet!
                img.image-lines(src="/assets/images/timer.svg")
                p We'll get in touch with you when this feature is ready.

    section.flippable
        .card
            .front.face
                h2 Your Database
                img.image-lines(src="/assets/images/database.svg")
                p MySQL, PostgreSQL, or MS SQL database.

            .back.face
                h2 This isn't ready yet!
                img.image-lines(src="/assets/images/timer.svg")
                p We'll get in touch with you when this feature is ready.