
article.view.view-demo-upload

    section.left
        h1 Upload Your Data.
        p.hero
            | Want something more personalized?
            br
            | Upload your own data and give our demo a go.

        a.solid-btn(ui-sref="root.demo.upload-choice") Let's Get Started


    .divider


    section.right
        h1 Try Our Demo!
        p.hero
            | We've compiled a generic database
            br
            | for you to try our demo.

        a.solid-btn Let's Go
