

article.view.view-about

    section.hero
        .wrapper
            article.hero-points
                h1 Awesome Team Is Awesome
                p We were born this way. Deal with it.

    section.two-col-contain.the-team
        .wrapper
            .section-heading
                ul
                    li.line
                    li
                        h3 The Team
                    li.line
            article.two-col-first.about-the-team
                h1 Something about our awesome team and the cool work we do here
                p Our team here is sooo cool. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi sem, ultricies eu facilisis id, commodo nec mauris. Etiam facilisis scelerisque libero, non rutrum justo suscipit ut. Fusce porttitor ligula lorem, et malesuada elit porta eget. Vestibulum suscipit vel eros a placerat. Fusce nisi sapien, viverra nec congue sit amet, hendrerit at massa. Sed adipiscing mauris libero, eleifend dapibus diam aliquet eu. Vestibulum vitae enim nec lectus iaculis lacinia ut sed lacus. Praesent quis odio fermentum, imperdiet urna eu, fermentum felis. 
            article.two-col-second.team-heads
                ul
                    li.team-head
                        img(src="http://placekitten.com/100/100")
                        h2 Cathy Han 
                        h3 CEO, Co-Founder
                    li.team-head
                        img(src="http://placekitten.com/100/100")
                        h2 Nick Porter
                        h3 CTO, Co-Founder
                    li.team-head
                        img(src="http://placekitten.com/100/100")
                        h2 Sarah Hum
                        h3 Designer
                    li.team-head
                        img(src="http://placekitten.com/100/100")
                        h2 Wayne Spiegel
                        h3 Designer
                    li.team-head
                        img(src="http://placekitten.com/100/100")
                        h2 Andrea Yeung
                        h3 Marketing
                    li.team-head
                        img(src="http://placekitten.com/100/100")
                        h2 Eddie Wang
                        h3 Product
                    li.team-head
                        img(src="http://placekitten.com/100/100")
                        h2 Nicole Vulej
                        h3 Communications
                    li.team-head
                        img(src="http://placekitten.com/100/100")
                        h2 Vithushan Jeyakumaran
                        h3 ??