
article.view.view-about

    section.hero
        .hero-img-contain
            img(src="/assets/images/team-hero.png")
        .wrapper
            article.hero-points
                h1 Meet The Rockstar Team
                p We're a passionate bunch
                
    section.the-product
        
        .wrapper
        
            .section-heading
                ul
                    li.line
                    li
                        h3 What is 42?
                    li.line
                    
            article.???
            h1 42 gives you answers to put the power of data into your hands.
            p
                    | 42 is a predictive analytics platform that makes data simple,
                    | intuitive, and human. The dashboard analyzes your most complex
                    | point-of-sale data and gives you actionable steps on the best way
                    | to grow your business. 
            p
                    | The user-friendly dashboard lets you set custom filters to get 
                    | customer-specific data and product recommendations, segment by geographic 
                    | regions, create tailored mailing lists, and much more. 
            p
                    | You'll be able to see who your top customers are, visualize performance 
                    | by store, and take advantage of sales trends. 42 empowers you to make 
                    | better business decisions with the data you already have.
            p       
                    | And if there's a feature you'd love to see that's not already there, 
                    | we'll work with you to make it happen. 
    
                    

    section.the-team

        .wrapper

            .section-heading
                ul
                    li.line
                    li
                        h3 The Team
                    li.line


            article.two-col.about-the-team
                h1  We started 42 to help retailers understand data.
                p
                    | Our team has experience spanning retail and technology,
                    | having worked at Fortune 500’s such as Procter &amp; Gamble,
                    | Google, and Facebook. We are a team of developers, designers
                    | and strategists who love the newest technology on the market.
                    | We understand that data driven decisions are important, but
                    | most people are short on time. So we’re on a mission to deliver
                    | a platform that’s powerful, yet simple to use.
                p
                    | In the fast moving global retail environment, our team is dedicated
                    | to bringing you the best technology to make sure you always stay ahead.


            article.two-col.team-heads

                ul
                    li.team-head
                        img(src="assets/images/heads/cathy.gif")
                        .team-head-label
                            h4 Cathy Han
                            h3 CEO, Co-Founder

                    li.team-head
                        img(src="assets/images/heads/nick.gif")
                        .team-head-label
                            h4 Nick Porter
                            h3 CTO, Co-Founder

                    li.team-head
                        img(src="assets/images/heads/sarah.gif")
                        .team-head-label
                            h4 Sarah Hum
                            h3 Designer

                    li.team-head
                        img(src="assets/images/heads/wayne.gif")
                        .team-head-label
                            h4 Wayne Spiegel
                            h3 Designer

                    li.team-head
                        img(src="assets/images/heads/andrea.gif")
                        .team-head-label
                            h4 Andrea Yeung
                            h3 Marketing


    section.social

        .wrapper

            ul
                li
                    a(href="https://www.facebook.com/42technologies", target="_blank")
                        p.icon-social-facebook

                li
                    a(href="https://twitter.com/42debut", target="_blank")
                        p.icon-social-twitter
                li
                    a(href="http://42technologies.tumblr.com/", target="_blank")
                        p.icon-social-tumblr
                li
                    a(href="https://github.com/42technologies/", target="_blank")
                        p.icon-social-github
