
article.view.view-customers

    section.hero
        .hero-img-contain
            img(src="/assets/images/customers-hero.png")
        .wrapper
            article.hero-points
                h1 Meet Our Customers
                p Making brands successful, big and small

    section.customers
        .wrapper
            .article
                .section-heading
                    ul
                        li.line
                        li
                            h3 Camp & Campus
                        li.line

                p Started in 1955, Camp & Campus was one of the first retailers to sell denim for women and teenage girls in the 1960’s and 70’s. Heidi’s grandparents originally started the business to supply summer camp clothing for girls, but this family business quickly grew to be a popular and much-loved destination for women’s fashion in Long Island.

                p When we met Heidi back in 2013, she shared that she wished there were an easier way to sort through all the data that  comes through. From handling hundreds of SKUs to figuring out which products to stock that customers of all ages  would love and buy, Heidi would be able to save a lot of time if she had better tools that could tell her exactly where and who sales were coming from.

                p After speaking with Heidi to understand how better data analytics tools could grow her business, we set out to customize a 42 dashboard to give her all the things her previous platform couldn’t do.

                p Improving visibility on a few metrics—such as which SKUs the top 50% of revenue was from, inventory sell-through reporting, and creating tracking for customers who spent certain amounts in a time period—was in her own words, “very revolutionary.”

                blockquote “42 has made the world of difference in the analysis of my business—it enables me to view my supplier, style and customer data from so many different perspectives, none of which are currently available through my POS system. Using the data revealed by 42, I have modified my buying strategy to improve our gross margin where possible and increase our overall profitability.”

                p As Camp & Campus adopts to a changing town with newer shoppers, it’s more important than ever to list products that cater to the lifestyle of their customers. 42’s analytics began to provide insights for Heidi to focus on key brands and age categories, helping her improve the customer experience as Camp & Campus becomes a thriving destination shop.

                p Working closely with Heidi gave us the chance to learn about Camp & Campus’ needs and customize a system that would make the business more efficient and effective. As with many of our customers who already had an analytics platform in place, once Heidi tried out 42’s dashboard, it was clear that we could deliver better results more quickly and easily—all with the data she already had.

                blockquote Working closely with Heidi gave us the chance to learn about Camp & Campus’ needs and customize a system that would make the business more efficient and effective. As with many of our customers who already had an analytics platform in place, once Heidi tried out 42’s dashboard, it was clear that we could deliver better results more quickly and easily—all with the data she already had.

