
article.view.view-footer

    a.request-demo(ui-sref="root.demo.signup") Request A Demo

    .wrapper

        .logo
            a.customicon-logo-42(ui-sref="root.home")

        ul.footer-company-links
            li: a(ui-sref="root.home")
                | Home
            li: a(ui-sref="root.features")
                | Features
            li: a(href="http://42technologies.tumblr.com", target="_blank")
                | Customers
            li: a(ui-sref="root.about")
                | About
            li: a.contact-link(href="mailto:team@42debut.com")
                | Contact

        ul.footer-social-links
            li: a.nav-link(href="https://twitter.com/42debut")
                i.social-icon.icon-social-twitter
            li: a.nav-link(href="https://www.linkedin.com/company/42-technologies-inc-")
                i.social-icon.icon-social-linkedin
            li: a.nav-link(href="http://instagram.com/42technologies")
                i.social-icon.icon-social-instagram
            li: a.nav-link(href="https://www.facebook.com/42technologies")
                i.social-icon.icon-social-facebook
            li: a.nav-link(href="http://42technologies.tumblr.com/")
                i.social-icon.icon-social-tumblr

        ul.footer-copyright
            li: span.copyright-text &copy; 2014 42 Technologies, Inc
            li: a.copyright-link(href="#terms") Terms
            li: a.copyright-link(href="#privacy") Privacy
