
article.view.view-footer

    .wrapper

        a.request-demo.outline-btn(ui-sref="root.demo.signup") Request A Demo

        p.copyright
            &copy; 2014 42 Technologies, Inc

        ul
            li
                a.nav-link(href="#terms") Terms
            li
                a.nav-link(href="#privacy") Privacy
            li
                a.nav-link(href="https://twitter.com/42debut")
                    i.social-icon.icon-social-twitter
            li
                a.nav-link(href="https://www.linkedin.com/company/42-technologies-inc-")
                    i.social-icon.icon-social-linkedin

        .logo
            a.customicon-logo-42(ui-sref="root.home")
