
article.view.view-footer

    footer

        .wrapper

            article
                h1 Know Your Data

                a.outine-btn(ui-sref="root.demo.signup") Sign Up

            nav
                ul
                    li: &copy; 2014 Lytik, Inc
                    li: &#9679;
                    li: a(ui-sref="root.home") Privacy Policy
                    li: &#9679;
                    li: a(ui-sref="root.home") Legal Notice
