
article.view.view-footer

    .wrapper

        a.request-demo.outline-btn(ui-sref="root.demo.signup") Request A Demo

        p.copyright
            &copy; 2014 42 Technologies, Inc

        ul
            li
                a.nav-link(href="#terms") Terms
            li
                a.nav-link(href="#privacy") Privacy

        .logo
            a.customicon-logo-42(ui-sref="root.home")
