
article.view.view-header

    section.contact-us.animation-ease(ng-show="contactUs.isVisible")

        .wrapper

            .contact-us-content
                h3 E-mail Us
                a(href="mailto:team@42debut.com") team@42debut.com

    nav
        .logo
            a.customicon-logo-42(ui-sref="root.home")

        a#menu-toggle.hamburger
            span.menu-bar.bar1
            span.menu-bar.bar2
            span.menu-bar.bar3

        ul.main
            li: a(ui-sref="root.home")
                | Home
            li: a(ui-sref="root.features")
                | Features
            li: a(ui-sref="root.customers")
                | Customers
            li: a(ui-sref="root.about")
                | About
            li: a.contact-link(ng-click="contactUs.toggle()")
                | Contact

        ul.account
            li: a.outline-btn(ui-sref="root.demo.signup")
                | request a demo
