
article.view.view-header

    section.contact-us.animation-ease(ng-show="contactUs.isVisible")

        .wrapper

            .contact-us-content
                h3 E-mail Us
                a(ui-sref="mailto:team@42debut.com") team@42debut.com


    nav
        .logo
            a(ui-sref="root.home", ng-click="contactUs.hide()")
                img(src="/assets/images/logo-42.svg")

        a#menu-toggle.hamburger
            span.menu-bar.bar1
            span.menu-bar.bar2
            span.menu-bar.bar3

        ul.main
            li: a(ui-sref="root.home",     ng-click="contactUs.hide()") Home
            li: a(ui-sref="root.features", ng-click="contactUs.hide()") Features
            li: a(ui-sref="root.blog",     ng-click="contactUs.hide()") Blog
            li: a(ui-sref="root.about",    ng-click="contactUs.hide()") About
            li: a.contact-link(ng-click="contactUs.toggle()") Contact

        ul.account
            //- li: a(ui-sref="root.home")
            //-     | Log In
            li: a.outline-btn(ui-sref="root.demo.signup")
                | request a demo
