
article.view.view-header

    .logo: a(ui-sref="root.home")
        img(src="/assets/images/logo.png", width="50px")

    nav: ul
      li: a(ui-sref="root.demo.signup") Demo
      li: a(ui-sref="root.team") Team
