
article.view.view-home

    section.hero.home
        .hero-img-contain
            img.bg(src="/assets/images/bg.png")

        img.laptop.desktop(src="/assets/images/home-hero.png")
        img.laptop.mobile(src="/assets/images/home-hero-mobile.png")

        .wrapper
            article.hero-content.hero-points
                h1 Grow Revenue
                p Big data made simple. Leave the numbers to us, we'll give the answers to insights you want to&nbsp;see.

                a.outline-btn(ui-sref="root.demo.signup")
                    span.demo-btn Try Our Free Demo
                    span.signup-btn Sign up


    section.key

        .wrapper

            article.key-content
                p.icon.customicon-home-point-1
                h2 Data You Can Understand
                p No convoluted spreadsheets or legacy software. 42 makes data&nbsp;intuitive.

            article.key-content
                p.icon.customicon-home-point-2
                h2 Reduce Cost, Grow&nbsp;Revenue
                p Access your data from the cloud. No hardware, no downloads, no&nbsp;fuss.

            article.key-content
                p.icon.customicon-home-point-3
                h2 Monetize Your POS&nbsp;Data
                p Instantly share your findings with clients and colleagues. Export PDFs and&nbsp;graphs.


    section.how.feature

        .wrapper

            article.hero-content
                h2 How It Works

                ul
                    li
                        i.step
                        p We take raw data and process it on our web&nbsp;platform.

                    li
                        i.step
                        p Our algorithms scan the data to find the best ways to grow your business. 42's technology can identify opportunity areas to increase growth and reduce inefficiencies.

                    li
                        i.step
                        p Get recommendations for where to focus your resources next.

                    li
                        a.outline-btn(ui-sref="root.demo.signup") Try Our Demo

                img.how-it-works(src="/assets/images/how.svg")


    section.testimonials

        .wrapper(ng-mouseenter="carousel.stop()", ng-mouseleave="carousel.start()")
            .quote-wrapper
                q(ng-bind-html="testimonials[carousel.state.index].quote")

            ul.people
                li(ng-repeat="testimonial in testimonials"
                  ,ng-class="{active:carousel.state.index == $index}"
                  ,ng-mouseover="select($index)")

                    img(ng-src="{{ testimonial.image }}")

                    div
                        h4(ng-bind-html="testimonial.name")
                        h3(ng-bind-html="testimonial.title")


    section.gym-badges

        .wrapper

            ul
                li
                    a(href="http://techcrunch.com/2013/04/29/42-is-the-answer-to-everything-in-personalized-analytics-for-retail/", target="_blank")
                        img(src="/assets/images/techcrunch.svg")

                li
                    a(href="http://www.sauder.ubc.ca/News/2013/Sauder_grads_revolutionize_retail_arena", target="_blank")
                        img(src="/assets/images/sauder.svg")

                li
                    a(href="http://www.zimbio.com/photos/Cathy+Han/Decoded+Fashion+Forum+Hackathon+Finale+Fall/Ps9yaqr5d-O", target="_blank")
                        img(src="/assets/images/benz.svg")

                li
                    a(href="http://www.code-n.org/fileadmin/user_upload/pdf/131210_List_Top_50_EN.pdf", target="_blank")
                        img(src="/assets/images/code_n.svg")
