
article.view.view-home

    section.hero
        .wrapper
            article.hero-points
                h2 Grow Revenue
                p Big data made simple. Leave the numbers to us, we'll give the answers to insights you want to see.

                a.reg-btn(ui-sref="root.home") Try Our Free Demo

            img(src="/assets/images/dash.svg")

    section.key
        .wrapper
            article.key-points
                h2 Data You Can Understand
                p Leave the numbers to us, we'll give the answer to insights you want to see.

            article.key-points
                h2 Reduce Cost, <br> Grow Revenue
                p Access your data from the cloud. No hardware, no downloads, no fuss

            article.key-points
                h2 Monetize Your <br> POS Data
                p Instantly share your findings with clients and colleagues. Export lists, PDFs, and graphs.

    section.feature
        .wrapper
            article.feature-points
                h2 Grow Revenue
                p Big data made simple. Leave the numbers to us, we'll give the answers to insights you want to see.

                a.reg-btn(ui-sref="root.home") Try Our Free Demo