
article.view.view-home

    section.hero
        .wrapper
            article.key-points
                h2 Grow Revenue
                p Big data made simple. Leave the numbers to us, we'll give the answers to insights you want to see.

                a.reg-btn(ui-sref="root.home") Try Our Free Demo

            img(src="/assets/images/dash.svg")