
article.view.view-home

    section.hero
        .wrapper
            article.hero-content
                h1 Grow Revenue
                p Big data made simple. Leave the numbers to us, we'll give the answers to insights you want to see.

                a.outine-btn(ui-sref="root.home") Try Our Free Demo

            img(src="/assets/images/dash.svg")

    section.key
        .wrapper
            article.key-content
                h2
                    | Data You Can
                    br
                    | Understand
                p Leave the numbers to us, we'll give the answer to insights you want to see.

            article.key-content
                h2
                    | Reduce Cost,
                    br
                    | Grow Revenue
                p Access your data from the cloud. No hardware, no downloads, no fuss.

            article.key-content
                h2
                    | Monetize Your
                    br
                    | POS Data
                p Instantly share your findings with clients and colleagues. Export PDFs and graphs.

    section.feature
        .wrapper
            article.hero-content
                h1 Smart-Ass Filters
                p Big data made simple. Leave the numbers to us, we'll give the answers to insights you want to see.

                a.outine-btn(ui-sref="root.home") See How Smart They Are

    section.feature.right
        .wrapper
            article.hero-content
                h1 Data Consolidation
                p Big data made simple. Leave the numbers to us, we'll give the answers to insights you want to see.

                a.outine-btn(ui-sref="root.home") Consolidate Now

    section.feature
        .wrapper
            article.hero-content
                h1 Simple Exporting
                p Big data made simple. Leave the numbers to us, we'll give the answers to insights you want to see.

                a.outine-btn(ui-sref="root.home") See How Simple It Is

    section.how
        .wrapper
            article.hero-content
                h2 How It Works

                section
                    i.step
                    p.leader Seemlessly integrate your data. <br> We’ll take care of the rest.

                section
                    i.step
                    p Receive and explore your <br> custom dashboard.

                a.outine-btn(ui-sref="root.home") Try It Today

            img(src="/assets/images/how.svg")

    section.testimonials
        .wrapper
            ul.brags
                li
                    p “One of the most disruptive things on <br> the front-end that we’ve seen in a while.”

            ul.people
                li.head
                    img(src="http://placekitten.com/100/100")
                    h4 Uri Minkoff
                    h3 CEO, Rebecca Minkoff

                li.head
                    img(src="http://placekitten.com/100/100")
                    h4 Phoebe Yu
                    h3 INVESTMENT BANKING ANALYSIS, <br> MERRILL LYNCH

                li.head
                    img(src="http://placekitten.com/100/100")
                    h4 Louise Broni-Mensah
                    h3 CEO, SHOOBS

    section.gym-badges
        .wrapper
            ul
                li: img(src="/assets/images/techcrunch.svg")
                li: img(src="/assets/images/sauder.svg")
                li: img(src="/assets/images/benz.svg")
                li: img(src="/assets/images/code_n.svg")

    footer
        .wrapper
            article
                h1 Know Your Data

                a.outine-btn(ui-sref="root.demo.signup") Sign Up

            nav
                ul
                    li: &copy; 2014 Lytik, Inc
                    li: &#9679;
                    li: a(ui-sref="root.home") Privacy Policy
                    li: &#9679;
                    li: a(ui-sref="root.home") Legal Notice


