
article.view.view-home

    section.hero.home
        .hero-img-contain
            img(src="/assets/images/home-hero.jpg")

        .wrapper
            article.hero-content
                h1 Grow Revenue
                p Big data made simple. Leave the numbers to us, we'll give the answers to insights you want to see.

                a.outine-btn.demo-btn(ui-sref="root.home") Try Our Free Demo
                a.outine-btn.signup-btn(ui-sref="root.demo.signup") Sign Up

            //- img(src="/assets/images/dash.svg")


    section.key

        .wrapper

            article.key-content
                h2 Data You Can&nbsp;Understand
                p Leave the numbers to us, we'll give the answer to insights you want to&nbsp;see.

            article.key-content
                h2 Reduce Cost Grow Revenue
                p Access your data from the cloud. No hardware, no downloads, no&nbsp;fuss.

            article.key-content
                h2 Monetize Your POS Data
                p Instantly share your findings with clients and colleagues. Export PDFs and&nbsp;graphs.


    section.feature

        .wrapper

            article.hero-content
                h1 Smart-Ass Filters
                p Big data made simple. Leave the numbers to us, we'll give the answers to insights you want to see.

                a.outine-btn(ui-sref="root.home") See How Smart They Are

            img.filters(src="/assets/images/filters-landing.svg")


    section.feature.right

        .wrapper

            article.hero-content
                h1 Data Consolidation
                p Big data made simple. Leave the numbers to us, we'll give the answers to insights you want to see.

                a.outine-btn(ui-sref="root.home") Consolidate Now


    section.feature.exporting

        .wrapper

            article.hero-content
                h1 Simple Exporting
                p Big data made simple. Leave the numbers to us, we'll give the answers to insights you want to see.

                a.outine-btn(ui-sref="root.home") See How Simple It Is

            img.paper(src="/assets/images/paper-report.png")


    section.how.feature

        .wrapper

            article.hero-content
                h2 How It Works

                ul
                    li
                        i.step
                        p Seemlessly integrate your data. We’ll take care of the&nbsp;rest.

                    li
                        i.step
                        p Receive and explore your custom dashboard.

                    li
                        a.outine-btn(ui-sref="root.home") Try It Today

                img.how-it-works(src="/assets/images/how.svg")


    section.testimonials(ng-mouseenter="carousel.stop()", ng-mouseleave="carousel.start()")

        .wrapper
            q(ng-bind-html="testimonials[carousel.state.index].quote")

            ul.people
                li(ng-repeat="testimonial in testimonials"
                  ,ng-class="{active:carousel.state.index == $index}"
                  ,ng-mouseover="select($index)")

                    img(ng-src="{{ testimonial.image }}")

                    div
                        h4(ng-bind-html="testimonial.name")
                        h3(ng-bind-html="testimonial.title")


    section.gym-badges

        .wrapper

            ul
                li: img(src="/assets/images/techcrunch.svg")
                li: img(src="/assets/images/sauder.svg")
                li: img(src="/assets/images/benz.svg")
                li: img(src="/assets/images/code_n.svg")

