
article.view.view-generic

    section.privacy
        .wrapper
            .article
                h1 Privacy
                p 42 Technologies Inc. is strongly committed to protecting and respecting your privacy rights. This privacy policy (the “Privacy Policy”) sets out the basis on which 42 Technologies Inc. collects and uses personal data from visitors to our website located at www.42debut.com (the “Site”) and services available through the Site. Use of the Site constitutes your consent to the terms of this Privacy Policy. Please review it carefully before submitting any information to 42 Technologies Inc. through the Site. Capitalized terms not defined in this Privacy Policy shall have the meaning set forth in our Terms of Use.

                h2 What Personally Identifiable Information is collected?
                p 42 Technologies Inc. collects data, such as name, e-mail address and telephone numbers, employer and credit card information (collectively, “Personally Identifiable Information”), from you, through the registration forms on the 42 Technologies Inc. Sales Site. 42 Technologies Inc. may keep a record of any correspondence with you until it is no longer necessary. 42 Technologies Inc. may retain copies of all information that you provide through the Site, both during your use of the Site and any services available through the Site and after termination or expiration of such use. 42 Technologies Inc. may also ask you to complete surveys for research purposes and may keep a copy of your responses. Please note that you are not obliged to respond to such surveys.

                h2 Are Cookies and Log files used?
                p 42 Technologies Inc. may collect information about your computer and browsing preferences, including, where available, your IP address, operating system and browser type. In some circumstances, 42 Technologies Inc. uses cookies to enhance the functionality of the Site. A cookie is a small data file on the hard drive of your computer. 42 Technologies Inc. uses cookies to identify a customer and to store registration details so that the customer is no longer required to re-enter these details on subsequent visits. In addition, 42 Technologies Inc. uses cookies to indicate the number of computers used by each customer to log-in to the Site, and to prevent abuse of the Site and logins. 42 Technologies Inc. also collects information on referring websites, IP addresses and web browsers used by customers when they access the Site, and uses such information for the same reasons mentioned above. You may refuse to accept cookies by activating the setting on your browser which allows you to refuse the setting of cookies. However, if you select this setting you may be unable to access certain parts or functionality of the Site. Unless you have adjusted your browser setting so that it will refuse cookies, the Site will issue cookies when you log on to the Site. Please note that 42 Technologies Inc. may use technology service providers to help monitor Site usage. Some of these service providers may collect non-personally identifiable information through cookies on 42 Technologies Inc.’ behalf.

                h2 Uses made of Personally Identifiable Information
                p 42 Technologies Inc. may use information collected from you for the following purposes:
                ul
                    li For direct marketing campaigns, as permitted by law; 42 Technologies Inc. will give you the option to opt out of each commercial email communication that it sends to you;
                    li To provide you with information and services that you request from 42 Technologies Inc. or which 42 Technologies Inc. feels may interest you, where you have consented for such purposes;
                    li To customize the Site to your preferences;
                    li To provide you with services available through the Site, for which you register;
                    li To develop new features of the Site and services available through the Site, and for testing and other development purposes that do not involve disclosure to third parties;
                    li To carry out 42 Technologies Inc.’ obligations under any contracts with you;
                    li To allow you to participate in interactive features of the Site, when you choose to do so; and
                    li To notify you about the changes to the Site or any services available through the Site, including new product announcements.
                    li To conduct internal administration of 42 Technologies Inc.’s business.
                h2 Does 42 Technologies Inc. disclose Personally Identifiable Information to Third Parties?
                p 42 Technologies Inc. may disclose your Personally Identifiable Information to third party vendors used by 42 Technologies Inc. for customer relationship management purposes, including the distribution of email communications. 42 Technologies Inc. does not permit third party vendors to use Personally Identifiable Information for any purpose outside of those disclosed within this Privacy Policy. 42 Technologies Inc. may disclose the names of Users of the Site to enquiring parties only if the enquiring party is from the same organization as the User.

                p In addition, 42 Technologies Inc. may disclose your personal data to third parties under the following circumstances:
                ul
                    li In the event that 42 Technologies Inc. sells or buys any business or assets, in which case 42 Technologies Inc. may disclose your Personally Identifiable Information to the prospective seller or buyer of such business or assets;
                    li If 42 Technologies Inc. or substantially all of its assets are acquired by a third party, in which case
                    li Personally Identifiable Information held by it about its customers will be one of the transferred assets;
                    li If 42 Technologies Inc. is under a duty to disclose or share your personal data in order to comply with any legal obligation;
                    li To protect the rights, property or safety of 42 Technologies Inc. or its customers, which includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.
                p 42 Technologies Inc. may use all Dashboard Usage Data, including that which is specific to User, and the Business Data for the purpose of creating aggregated and anonymized statistics on the 42 Technologies Inc. customer base (the “Aggregate Data”). 42 Technologies Inc. shall be the sole owner of the Aggregate Data and, notwithstanding anything to the contrary, shall be free to use and disclose the Aggregate Data at its discretion. Aggregate Data shall not include the User’s Business Data unless it has first been aggregated with data belonging to other 42 Technologies Inc. clients, shall not identify User as the source of any specific piece of data, and shall not include any Personally Identifiable Information or data specific to any individual identified in User’s Business Data.

                h2 Securing your personal data
                p 42 Technologies Inc. takes reasonable steps to protect your Personally Identifiable Information as you transmit such information from your computer to the Site, and to protect such information from loss, misuse, and unauthorized access, disclosure, alteration or destruction. You should keep in mind, however, that no internet transmission is 100% secure or error-free. In particular, e-mail sent to or from the Site may not be secure, and you should therefore take special care in deciding what information you send to the Site via e-mail or other electronic means. Where 42 Technologies Inc. has given you a username and/or password which enables you to access certain parts of the 42 Technologies Inc. website, you are responsible for keeping such username and/or password confidential.

                h2 Links to Third Party Sites
                p The Site may, from time to time, contain links to external websites. 42 Technologies Inc. encourages you to review the privacy and security policies of any externally linked websites that may be accessed through the Site. 42 Technologies Inc. assumes no responsibility or liability for the information, collection and disclosure practices of any external websites that a User can access through the Site. Please check the privacy policies of these external websites before you submit any Personally Identifiable Information or other information to them.

                h2 Can I change my information?
                p To keep your Personally Identifiable Information accurate, current and complete, please contact us via the email address on the Contact page. 42 Technologies Inc. shall use commercially reasonable efforts to respond to your data access request within 30 days of receiving your request. If 42 Technologies Inc. is unable to respond to your request within such period 42 Technologies Inc. shall use commercially reasonable efforts to notify you of the reason why 42 Technologies Inc. is so unable. Should you choose to unsubscribe from any mailing lists for which you registered, you may do so by following the instructions on how to unsubscribe provided in all 42 Technologies Inc. communications.

                p If you have any questions regarding this Privacy Policy, please contact us as set forth in the “Contact Us” section below. We will investigate your question, respond to your inquiry, and attempt to resolve any concerns regarding your privacy question.

                h2 Changes to this Privacy Policy
                p 42 Technologies Inc. reserves the right to amend this Privacy Policy at any time and from time to time. You should check this Privacy Policy each time you use the Site to determine if any changes have been made. If you use the Site after the amended Privacy Policy has been posted, you will be deemed to have agreed to the amended Privacy Policy.

                h2 About Children
                p 42 Technologies Inc. does not knowingly collect information from children under the age of 13 through the Site. If you are under the age of 13, please do not provide any information through the Site. We encourage parents and legal guardians to monitor their children’s Internet usage and to help enforce this Privacy Policy by instructing their children to never provide any information on this Site or any other web site without their permission. If you have reason to believe that a child under the age of 13 has provided information to 42 Technologies Inc. through the Site, please contact us using the information in the Contact section of the Site, and we will endeavor to delete that information from our databases.

                h2 Contact us
                p If you have any queries about the privacy statement or to report a privacy issue, please contact us using the information on the Contact section of our website.
