
article.view.view-team

    section.hero
        .wrapper
            article.hero-points
                h2 Something About our Awesome Team
                p Aww yeah, why are we so awesome?

    section.two-col-contain
        .wrapper
            article.two-col-first
                h3 Something about our awesome team and the cool work we do here
                p Our team here is sooo cool. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi sem, ultricies eu facilisis id, commodo nec mauris. Etiam facilisis scelerisque libero, non rutrum justo suscipit ut. Fusce porttitor ligula lorem, et malesuada elit porta eget. Vestibulum suscipit vel eros a placerat. Fusce nisi sapien, viverra nec congue sit amet, hendrerit at massa. Sed adipiscing mauris libero, eleifend dapibus diam aliquet eu. Vestibulum vitae enim nec lectus iaculis lacinia ut sed lacus. Praesent quis odio fermentum, imperdiet urna eu, fermentum felis. 
            article.two-col-second
                .team-head Cathy