
article.view.view-generic

    section.terms
        .wrapper
            .article
                :markdown
                    # 42 Technologies Inc. Terms of Use

                    42 TECHNOLOGIES INC. (“42 TECHNOLOGIES INC. “/”WE”/”US”) OWNS AND OPERATES THE WEBSITE LOCATED AT WWW.42DEBUT.COM AND PROVIDES SERVICES THROUGH THE WEBSITE AND 42 TECHNOLOGIES INC.’S SOFTWARE APPLICATIONS. THESE TERMS OF USE APPLY TO ALL USERS OF THE WEBSITE AND ANY CONTENT MADE AVAILABLE THROUGH THE WEBSITE, INCLUDING USERS WHO UPLOAD AND MAKE AVAILABLE ANY MATERIALS THROUGH THE WEBSITE, USERS WHO DOWNLOAD OR INSTALL A 42 TECHNOLOGIES INC.  APP (THE “APP”), USERS WHO USE SERVICES PROVIDED THROUGH THIS WEBSITE OR THE APP (INCLUDING USING ANALYSIS, TOOLS, DATA PRODUCT AND MATERIALS MADE AVAILABLE THROUGH THE WEBSITE OR APP) AND USERS WHO SIMPLY VIEW THE CONTENT ON OR AVAILABLE THROUGH THE WEBSITE OR APP. PLEASE READ THESE TERMS OF USE CAREFULLY. BY USING THIS WEBSITE AND/OR DOWNLOADING OR INSTALLING AND USING THE APP, YOU INDICATE YOUR ACCEPTANCE OF THESE TERMS OF USE. IF YOU DO NOT ACCEPT THESE TERMS OF USE, THEN DO NOT USE THE APP, THIS WEBSITE OR ANY OF ITS CONTENT OR SERVICES.

                    ## The 42 Technologies Inc.  Service.

                    Users can use the App for analytics purposes (the “Service”) and the Website for obtaining information about the App and, in some instances, to log in to receive access to the Service (collectively “42 Technologies Inc.  Services”).

                    ## Subscription Service Options.

                    You can download and use the App as per a paid subscription if you wish to receive access. The Service works by aggregating data across industries and sectors without identifying individual users to each other or their customers to other users. For greater clarification, your customers will never be identified to users that do not already have a relationship with them.

                    ## License Grant.

                    42 Technologies Inc.  hereby grants you a limited, non-exclusive, non-transferable license to use our Service during the term of your subscription within your business and not for resale or further distribution. Your right to use our Service is limited by all terms and conditions set forth in this Agreement.  42 Technologies Inc. further grants you a non-exclusive, non-transferable license to use the 42 Technologies Inc. web application in order to receive and make use of the Service.  For greater certainty, any software provided is licensed; not sold.   Any third party software provided as part of the Service will be licensed to you on the terms of this Section 3 unless a separate license agreement is provided to you in which event the separate license agreement will apply to your use of the specific third party component.

                    ## Passwords and Access.

                    You are responsible for safeguarding any password that you use to access the Service and you are responsible for any activities or actions under your password. You agree to keep your password secure.  We cannot, and will not, be liable for any loss or damage arising from your failure to comply with these requirements.

                    ## Use Restrictions.

                    In using the 42 Technologies Inc.  Services you shall not (a) copy or distribute any part of the Website (including content of the Website) except to the extent expressly permitted, (b) alter or modify any part of the Website or App, (c) upload, post, email, transmit or otherwise make available on the Website or App any material that is unlawful, untrue or misleading, harmful, threatening, abusive, defamatory, obscene, invasive of another’s privacy, gives rise to civil liability, or is otherwise objectionable, (d) impersonate any person or entity or misrepresent your affiliation with a person or entity; (e) forge headers or otherwise manipulate identifiers in order to disguise the origin of any material transmitted to or through the Website or App; (f) upload, post, email, transmit or otherwise make available any material that You do not have a right to make available under any law or under a contractual relationship; (g) upload, post, email, transmit or otherwise make available any material that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party; (h) upload, post, email, transmit or otherwise use any features of the Service to make available any unsolicited or unauthorized advertising, solicitations for business, promotional materials, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or any other form of solicitation; (i) upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment or data or the Website or that of any users or viewers of the Website or that compromises a user’s privacy; (j) interfere with or disrupt the Website or servers or networks connected to the Website, or disobey any requirements, procedures, policies or regulations of networks connected to the Website or probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; (k) intentionally or carelessly violate any applicable local, state, national or international law or regulation; (l) collect or store personal data about other users or viewers; or (m) resell the content of the Website, the use of the Website or access to the Website or the content of the Website.

                    ## License to Access and Use Customer Data.

                    All data relating to your business (including transactions, sales and activity) which are visible through the Service to us (“Customer Data”) belongs to you.  You hereby grant 42 Technologies Inc.  and its affiliates a non-exclusive, royalty-free, worldwide sub-licenseable right and license to access and use your Customer Data in order to perform the Service as contemplated by this Agreement including to send you personalized suggestions.

                    ## Personal Information.

                    Any personally identifiable information contained in Customer Data will be used by 42 Technologies Inc.  solely for provision of the Service and will not be disclosed to third parties without your consent unless when we believe in good faith that such disclosure is required by and in accordance with the law.  We use commercially reasonable efforts to store and maintain personal information in a secure environment.  We take technical, contractual, administrative, and physical security steps designed to protect personal information that you provide to us and we store and handle such information in accordance with applicable privacy law requirements.  For further information about our privacy practices please see our privacy policy located on the Website.

                    ## Aggregate Data.

                    You agree that 42 Technologies Inc.  may collate, modify and create aggregate, non-personally identifiable information from the Customer Data and from use of the Service and 42 Technologies Inc.  may reuse all general knowledge, know-how, work and technologies acquired during provision of the Service.

                    ## General Learning.

                    42 Technologies Inc.  compiles and analyzes usage and performance of the 42 Technologies Inc.  Services (“Compiled Data”) and uses Compiled Data to build features and improve the functionality and feature set of the Service.  42 Technologies Inc.  shall have exclusive ownership of any Compiled Data and the exclusive right to use the same for any purpose, provided that 42 Technologies Inc.  shall not distribute any Compiled Data in a manner which identifies your business or your customers or any personal information of such customers.

                    ## DISCLAIMER.

                    THE INFORMATION AND MATERIALS PROVIDED VIA THE 42 TECHNOLOGIES INC.  SERVICES IS PROVIDED “AS IS.” SPECIFICALLY, BUT WITHOUT LIMITATION, 42 TECHNOLOGIES INC.  DOES NOT REPRESENT, WARRANT OR OFFER ANY CONDITIONS THAT: (I) THE INFORMATION OR MATERIALS PROVIDED THROUGH THE SERVICE ARE CORRECT, ACCURATE, RELIABLE OR COMPLETE; (II) THE FUNCTIONS CONTAINED ON THIS WEBSITE OR APP WILL BE UNINTERRUPTED OR ERROR-FREE; (III) DEFECTS WILL BE CORRECTED, OR (IV) THIS WEBSITE, APP OR THE SERVER(S) THAT MAKES THE SERVICE AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. 42 TECHNOLOGIES INC.  SPECIFICALLY DISCLAIMS ALL REPRESENTATIONS, WARRANTIES AND CONDITIONS, EITHER EXPRESS, IMPLIED, STATUTORY, BY USAGE OF TRADE, COURSE OF DEALING OR OTHERWISE INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT, TITLE, SATISFACTORY QUALITY OR FITNESS FOR A PARTICULAR PURPOSE. ANY INFORMATION OR MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE WEBSITE IS AT YOUR OWN DISCRETION AND RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM, LOSS OF DATA, OR ANY OTHER LOSS THAT RESULTS FROM DOWNLOADING OR USING ANY SUCH MATERIAL. 42 TECHNOLOGIES INC.  DOES NOT WARRANT, ENDORSE, GUARANTEE, PROVIDE ANY CONDITIONS OR REPRESENTATIONS, OR ASSUME ANY RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY ANY THIRD PARTY THROUGH THE WEBSITE OR IN RESPECT TO ANY WEBSITE THAT CAN BE REACHED FROM A LINK ON THE WEBSITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING ON THE WEBSITE, AND 42 TECHNOLOGIES INC.  SHALL NOT BE A PARTY TO ANY TRANSACTION THAT YOU MAY ENTER INTO WITH ANY SUCH THIRD PARTY.

                    ## LIMITATION OF LIABILITY.

                    UNDER NO CIRCUMSTANCES SHALL 42 TECHNOLOGIES INC.  BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY OR OTHER DAMAGES WHATSOEVER, THAT RESULT FROM (I) YOUR USE OF OR YOUR INABILITY TO USE THE 42 TECHNOLOGIES INC.  SERVICES OR ANY FEATURES OR FUNCTIONALITY OF THE SAME, (II) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS, DATA, INFORMATION OR SERVICES, (III) ERRORS, MISTAKES, OR INACCURACIES IN THE MATERIALS PROVIDED VIA THE 42 TECHNOLOGIES INC.  SERVICES, (IV) PERSONAL INJURY OR PROPERTY DAMAGE OF ANY KIND WHATSOEVER ARISING FROM OR RELATING TO YOUR USE OF THE 42 TECHNOLOGIES INC.  SERVICES, (V) ANY BUGS, VIRUSES, TROJAN HORSES, OR ANY OTHER FILES OR DATA THAT MAY BE HARMFUL TO COMPUTER OR COMMUNICATION EQUIPMENT OR DATA THAT MAY HAVE BEEN TRANSMITTED TO OR THROUGH THE 42 TECHNOLOGIES INC.  SERVICES, OR (VI) ANY ERRORS OR OMISSIONS IN ANY MATERIAL ON THE WEBSITE OR ANY OTHER LOSS OR DAMAGE OF ANY KIND ARISING FROM OR RELATING TO YOUR USE OF THE WEBSITE. THESE LIMITATIONS SHALL APPLY EVEN IF 42 TECHNOLOGIES INC.  HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATIONS SHALL APPLY TO THE FULLEST EXTENSION PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.

                    ## INDEMNIFICATION.

                    YOU SHALL INDEMNIFY AND HOLD 42 TECHNOLOGIES INC.  AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, AGENTS, SUPPLIERS, PARTNERS, AND EMPLOYEES, HARMLESS FROM ALL CLAIMS, THREATS, ACTIONS, PROCEEDINGS, DEMANDS, DAMAGES, LOSSES, OBLIGATIONS, COSTS, AND EXPENSES INCLUDING REASONABLE ATTORNEYS’ FEES, MADE BY ANY THIRD PARTY DUE TO OR ARISING OUT OF ANY MATERIALS SUBMITTED, POSTED, TRANSMITTED OR MADE AVAILABLE BY YOU THROUGH YOUR USE OF THE WEBSITE, ANY VIOLATION BY YOU OF THESE TERMS OF USE, ANY VIOLATION BY YOU OF APPLICATION LEGISLATION (INCLUDING, WITHOUT LIMITATION, ANTI-SPAM LAWS) OR ANY VIOLATION BY YOU OF ANY RIGHTS OF ANOTHER (INCLUDING, WITHOUT LIMITATION ALL INTELLECTUAL PROPERTY RIGHTS AND PRIVACY RIGHTS).

                    ## Feedback.

                    If You provide 42 Technologies Inc.  with any suggestions, comments or other feedback (“Feedback“) relating to the Website, App or the 42 Technologies Inc.  Services more generally, 42 Technologies Inc.  may use such Feedback in any of its products or services without restriction. Accordingly, You agree that: (a) 42 Technologies Inc.  is not subject to any confidentiality obligations in respect to the Feedback, (b) the Feedback is not confidential or proprietary information of You or any third party and You have all of the necessary rights to disclose the Feedback to 42 Technologies Inc. , (c) 42 Technologies Inc.  (including all of its successors and assigns) may freely use, reproduce, publicize, license, distribute, and otherwise commercialize the Feedback, and (d) You are not entitled to receive any compensation or reimbursement of any kind from 42 Technologies Inc. .

                    ## Third Party Links.

                    42 Technologies Inc.  Services may provide, or third parties may provide, links to other World Wide Web sites or resources. 42 Technologies Inc.  may have no control over such sites and resources and you acknowledge and agree that 42 Technologies Inc.  is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any content, advertising, products, or other materials on or available from such sites or resources. You further acknowledge and agree that 42 Technologies Inc.  shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such site or resource.

                    ## Termination.

                    You may discontinue your use of Service at any time. 42 Technologies Inc.  may, at any time and for any reason, including a period of account inactivity, and without prior notice, immediately terminate Your ability to access the Service or portions thereof. Cause for such termination shall include, but not be limited to, (a) breaches or violations of these Terms of Use or any other agreement that You may have with 42 Technologies Inc.  (including, without limitation, non-payment of any fees owed in connection with your use of the 42 Technologies Inc.  Services), (b) requests by law enforcement or other government agencies, (c) a request by You, (d) discontinuance or material modification to the Service (or any part thereof), (e) unexpected technical, security or legal issues or problems, and/or (f) participation by You, directly or indirectly, in fraudulent or illegal activities. In the event of termination, your account will be disabled and you may not be granted access to Services, your account or any files or other content contained in your account.  You acknowledge and agree that all terminations may be made by 42 Technologies Inc.  in its sole discretion and that 42 Technologies Inc.  shall not be liable to You or any third-party for any termination of Your access to this Website or for the removal of any of the materials uploaded by You to the Website. Any termination of these terms of use by 42 Technologies Inc.  shall be in addition to any and all other rights and remedies that 42 Technologies Inc.  may have.

                    ## Changes.

                    The Website may be unavailable from time to time due to maintenance or malfunction of computer or network equipment or other reasons. 42 Technologies Inc.  may periodically add or update the information and materials on the Website or through the Service without notice.

                    ## Notices.

                    You agree that 42 Technologies Inc.  may provide you with notices, including those regarding changes to these Terms of Use, by email, regular mail, or postings on the Website or the App.

                    ## Security.

                    Information sent or received over the Internet is generally unsecured and 42 Technologies Inc.  cannot and does not make any representation or warranty concerning security of any communication to or from the Website or any representation or warranty regarding the interception by third parties of personal or other information.

                    ## Enforcement.

                    If any part of these Terms of Use is unlawful, void, or unenforceable, that part shall be deemed severable and shall not affect the validity and enforceability of the remaining provisions. The failure of 42 Technologies Inc.  to exercise or enforce any right or provision under these terms of use shall not constitute a waiver of such right or provision. Any waiver of any right or provision by 42 Technologies Inc.  must be in writing and shall only apply to the specific instance identified in such writing. No waiver by 42 Technologies Inc.  of any provision of these terms of use shall be deemed to be a further or continuing waiver of such provision or any other provision. You agree that any cause of action that You may have arising out of or related to this Website or Your use of this Website must commence within one (1) year after the cause of action accrues, otherwise such cause of action shall be permanently barred.

                    ## Assignment.

                    You may not assign any rights or licenses granted hereunder, whether voluntarily, by operation of law, or otherwise without 42 Technologies Inc. ’s prior written consent. 42 Technologies Inc.  may assign any rights or licenses granted hereunder, at any time without notice.

                    ## Survival.

                    In addition to Sections 5, 6, 8, 9 all representations, warranties and conditions made by You in these Terms of Use shall survive the termination of these Terms of Use. Unless otherwise explicitly identified as terminating elsewhere in these terms of use, all licenses granted by You in these terms of use shall survive their termination. All payment obligations incurred by You prior to the termination of these Terms of Use shall survive their termination.

                    ## Entire Agreement.

                    These Terms of Use and our Privacy Policy constitute the entire agreement between the parties relating to the 42 Technologies Inc.  Services and all related activities.

